<div class="manage-todo-view">
    <h1 class="title">
        {{ isNew ? "Add" : "Update"}}
    </h1>

    <form>
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                <v-text-field type="text" v-model="title" placeholder="Title" outlined :error-messages="errors.title">
                </v-text-field>
            </div>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <v-textarea v-model="description" placeholder="description" counter="500" outlined 
                :error-messages="errors.description"></v-textarea>
            </div>
        </div>

        <div class="d-flex">
            <div class="control">
                <v-btn color="primary" v-on:click.prevent="save" v-bind:disabled="hasErrors">Save</v-btn>
            </div>
            <div class="control">
                <v-btn plain to="/todos">Cancel</v-btn>
            </div>
        </div>

    </form>
</div>