<div class="users-view p-5">
    <h1 class="title">Users</h1>
    <nav class="level">
        <p class="control">
            <input class="input" type="text" placeholder="Search by name" v-model="searchKey">
        </p>
        <div>
            <router-link to="/todos" class="button create-todo-button">Todos</router-link>
            <router-link to="/manageUser" class="button is-primary create-todo-button">Add User</router-link>
        </div>
    </nav>
    <!-- table -->
    <div class="is-flex is-flex-direction-column is-align-items-center">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <user-table-row :key="user.id" v-for="user of filterUsers" :selectable-user="user"
                    @manage-user="manageUser" @delete-user="deleteUser">

                </user-table-row>
            </tbody>
        </table>
    </div>
</div>