<div class="manage-user-view">
    <h1>user form</h1>
    <div class="form-controls">
        <p class="label">first name</p>
        <input type="text" name="first_name" id="first_name" class="input" v-model="user.firstName">
    </div>
    <div class="form-controls">
        <p class="label">last name</p>
        <input type="text" name="first_name" id="first_name" class="input" v-model="user.lastName">
    </div>
    <div class="main-action">
        <button type="button" class="button" @click="cancel">Cancel</button>
        <button type="button" class="button is-link" v-on:click.prevent="submit">Submit</button>
    </div>
</div>