.list-todos-view {
    height: 100dvh;
    display: flex;

    section {
        width: calc(90% - 20px);
        display: flex;
        flex-direction: column;

        nav {
            display: flex;
            justify-content: end;
        }

        .todo-container {
            display: flex;
            flex-wrap: wrap;
        }
    }
}