<div class="todo-view">
    <v-card>
        <v-card-title>
            <div class="title">
                <p class="mb-0">
                    {{todoValue.title}}
                </p>
                <div v-show="todoValue.isCompleted" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="material-icons">done</i>
                    </span>
                </div>
            </div>
        </v-card-title>
        <v-card-text>
            <div class="content py-6">
                {{todoValue.description}}
            </div>
        </v-card-text>
        <v-card-actions>
            <v-row align="center" justify="space-around" class="py-2">
                <v-btn v-show="!todoValue.isCompleted" plain v-on:click.prevent="completeTodo">Complete</v-btn>
                <v-btn plain v-on:click.prevent="editTodo">Edit</v-btn>
                <v-btn plain v-on:click.prevent="deleteTodo">Delete</v-btn>
            </v-row>
        </v-card-actions>
    </v-card>
</div>